{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="top d-block d-lg-none d-xl-none"></div>
    <div id="carouselIndicators" class="px-2 py-2 m-0 carousel slide carousel-fade " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item text-center active">
                <div class="carousel-text">
                      <h2 class="text-white"><small>New tech enables you</small></h2>
                </div>
                <img class= "col-xs-12 col-md-6" src="{{MEDIA_URL}}vierkant_zwart_l.png" alt="Canvas square">
                <div class="carousel-caption d-none d-md-block m-0 p-0">
                    <h1 class="card-title text-center m-0 p-0"><a href="{% url 'products' %}?category=canvas,diptych_canvas" class="text-white btn rounded-0 p-2">Canvas</a></h1>
                </div>
            </div>
            <div class="carousel-item text-center">
                <div class="carousel-text">
                      <h2 class="text-white"><small>to customize your art</small></h2>
                </div>
                <img class= "col-xs-12 col-md-6" src="/media/vierkant_hout_l.png" alt="Wood square">
                <div class="carousel-caption d-none d-md-block m-0 p-0">
                     <h1 class="card-title text-center m-0 p-0"><a href="{% url 'products' %}?category=wood,diptych_wood" class="text-white btn rounded-0 p-2">Wood</a></h1>
                </div>
            </div>
            <div class="carousel-item text-center">
                <div class="carousel-text">
                      <h2 class="text-white"><small>to your own face!</small></h2>
                </div>
                <img class= "col-xs-12 col-md-6" src="/media/vierkant_grijs_l.png" alt="Aluminium Square">
                <div class="carousel-caption d-none d-md-block m-0 p-0">
                    <h1 class="card-title text-center m-0 p-0"><a href="{% url 'products' %}?category=aluminium,diptych_aluminium" class="text-white btn rounded-0 p-2">Aluminium</a></h1>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="bottom py-3"></div>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-lg-3 col-xl-3">
                <div class="card p-auto bg-dark text-white rounded-0 border border-dark">
                    <div class="card-body">
                        <h1 class="card-title text-center"><a href="{% url 'products' %}?category=canvas,diptych_canvas" class="shop-button btn btn-lg rounded-0 text-uppercase py-1">Canvas</a></h1>
                        <img class="card-img-top py-4" src="/media/vierkant_zwart.png" alt="Canvas square">
                        <div class="row">
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=canvas" class="shop-button btn btn-lg rounded-0 text-lowercase">Square</a></h4> 
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=diptych_canvas" class="shop-button btn btn-lg rounded-0 text-lowercase">Diptych</a></h4>
                        </div>
                        <div class="middle py-0 col-12 col-lg-none col-xl-none"></div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-3 col-xl-3">
                <div class="card p-auto bg-dark text-white rounded-0 border border-dark">
                    <div class="card-body">
                        <h1 class="card-title text-center"><a href="{% url 'products' %}?category=wood,diptych_wood" class="shop-button btn btn-lg rounded-0 text-uppercase py-1">Wood</a></h1>
                        <img class="card-img-top py-4" src="/media/vierkant_hout.png" alt="Wood square">
                        <div class="row">
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=wood" class="shop-button btn btn-lg rounded-0 text-lowercase">Square</a></h4>
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=diptych_wood" class="shop-button btn btn-lg rounded-0 text-lowercase">Diptych</a></h4> 
                        </div>
                        <div class="middle py-0 col-12 col-lg-none col-xl-none"></div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-3 col-xl-3">
                <div class="card p-auto bg-dark text-white rounded-0 border border-dark">
                    <div class="card-body">
                        <h1 class="card-title text-center"><a href="{% url 'products' %}?category=aluminium,diptych_aluminium" class="shop-button btn btn-lg rounded-0 text-uppercase py-1">Aluminium</a></h1>
                        <img class="card-img-top py-4" src="/media/vierkant_grijs.png" alt="Aluminium Square">
                        <div class="row">
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=aluminium" class="shop-button btn btn-lg rounded-0 text-lowercase">Square</a></h4>
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=diptych_aluminium" class="shop-button btn btn-lg rounded-0 text-lowercase">Diptych</a></h4> 
                        </div>
                        <div class="middle py-0 col-12 col-lg-none col-xl-none"></div>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-lg-3 col-xl-3">
                <div class="card p-auto bg-dark text-white rounded-0 border border-dark">
                    <div class="card-body">
                        <h1 class="card-title text-center"><a href="{% url 'products' %}?category=plexiglass,diptych_plexiglass" class="shop-button btn btn-lg rounded-0 text-uppercase py-1">Plexiglass</a></h1>
                        <img class="card-img-top py-4" src="/media/vierkant_grijs.png" alt="Plexiglass Square">
                        <div class="row">
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=plexiglass" class="shop-button btn btn-lg rounded-0 text-lowercase">Square</a></h4>
                            <h4 class="col-6 p-1 text-center"><a href="{% url 'products' %}?category=diptych_plexiglass" class="shop-button btn btn-lg rounded-0 text-lowercase">Diptych</a></h4>
                         </div>
                        <div class="middle py-0 col-12 col-lg-none col-xl-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- 
        <div class="container h-100">
        <div class="row h-100">
            <div class="col-5 col-md-6 my-auto">
                <h1 class="display-2 logo-font text-white">
                    New Tech Art! 
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-button btn btn-lg rounded-0 text-uppercase py-1">Shop now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
-->
    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-justify">Update!</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                 <div class="col-12 bg-danger text-center text-white">
                <h4 class="logo-font p-3">Due to circumstances delivery might take a bit longer than expected</h4>
            </div>
            <div class="col-12 bg-dark text-center text-white">
                <h4 class="logo-font p-3">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
            </div>
                <!-- 
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
                -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    $(document).ready(function(){
        if (document.cookie.indexOf('modal_shown=') >= 0) {
        //do nothing if modal_shown cookie is present
    } 
        else {
        $("#myModal").modal('show');  //show modal pop up
        document.cookie = "modal_shown=seen"; //set cookie modal_shown
        //cookie will expire when browser is closed
        }     
    });
</script>
{% endblock %}